<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="../public/style/main.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Посади</title>
</head>
<body class="body">
     <a class="btn btn-outline-secondary" href="/" style="margin-left: 50px;">На головну</a>
    <h1 class="text-center">Список посад</h1>
    <div class="table-responsive">
<table class="table table-primary  table-hover table-sm" >
    <tr>
        <th>Код Посади</th>
        <th>Назва</th>
        <th>Оклад</th>
    </tr>    
<% for (var i = 0; i < Position.length; i++) { %>
      <tr 
      >
        <td >
            <%= Position[i].Id_posad %>
        </td>
        <td >
          <%= Position[i].Naz_posad %>
          
         </td>
         <td >
          <%= Position[i].Oklad %>
          
         </td>
        <td style="background-color: white;">
             <a class="btn btn-danger" href="/api/position/delete/<%= Position[i].Id_posad%>"
              >Видалити</a>
        </td>
        <td style="background-color: white">
             <a class="btn btn-info" href="/api/position/<%= Position[i].Id_posad%>"
              >Редагувати</a>
        </td>
      </tr>
    <% } %>
    </table>
    </div>
    <h2 class="text-center">
        Додати посаду
    </h2>
    <form action="position" method="POST" class="text-center">
        <div class="mb-3">
        <label class="form-label">
            ID посади
            <input type="number" placeholder="id" class="form-control" id="Id_posad" name="Id_posad" min="1">
        </label class="form-label">
             <label>
            Назва посади
            <input type="text" class="form-control" placeholder="Назва" id="Naz_posad" name="Naz_posad">
        </label>
         <label class="form-label">
            Оклад
            <input type="number" placeholder="Оклад" class="form-control" id="Oklad" name="Oklad" min="10000">
        </label class="form-label">
        </div>
        <button type="submit" class="btn btn-primary">Додати</button>
    </form>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
 integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
 crossorigin="anonymous"></script>
</body>

</html>
